<div class="card">
    <div class="cardbody">
    <form [formGroup]="formOT" (ngSubmit)="SubirOt()">
       <div class="mb-2">
        <label class="form-label mt-3">
    Identificacion:
</label>
<input type="number" formControlName="identificacion" class="form-control" placeholder="Ingresa una identificacion" />
<div class="alert alert-danger mt-3" *ngIf="identifiacion.invalid && !identifiacion.pristine">
    <span *ngIf="identifiacion.errors?.['required']">
      La identificación es obligatoria
    </span>
  
    <span *ngIf="identifiacion.errors?.['pattern']">
        Identificacion no valida
    </span>
  </div>

        
       </div>
        
    <div class="mb-2">
    <label class="form-label mt-3">
        Nombre:
        </label>
        <input type="text" formControlName="nombre" name="Nombre" class="form-control" placeholder="Ingresa el nombre"/>
        
        <div class="alert alert-danger mt-3" [hidden]="nombre.valid || nombre.pristine">
            <span *ngIf="nombre.errors?.['required']">
                El nombre es obligatorio
            </span>
            
            <span *ngIf="nombre.errors?.['pattern']">
                El nombre debe ser valido (solo puede contener Letras mayusculas y espacios)
            </span>
        </div>

    </div>

    <div class="mb-2">
         <label class="form-label mt-3">
            Correo:
        </label>
        <input type="text" formControlName="correo" name="correo" class="form-control" placeholder="Ingresa el correo electronico" />
            
        <div class="alert alert-danger mt-3" [hidden]="correo.valid || correo.pristine">

            <span *ngIf="correo.errors?.['required']">
                El correo es obligatorio
            </span>

            <span *ngIf="correo.errors?.['email']">
            El correo es invalido
            </span>
        </div>
    </div>
    <div class="mb-2">
        <label class="form-label mt-3">
            Telefono:
        </label>
        <input type="number" formControlName="telefono" name="telefono" class="form-control" placeholder="Ingresa un telefono"/>
                 
        <div class="alert alert-danger mt-3" [hidden]="telefono.valid || telefono.pristine">
            <span *ngIf="telefono.errors?.['required']">
                El telefono es obligatorio
              </span>
            
              <span *ngIf="telefono.errors?.['pattern']">
                  El telefono no es valido
              </span>
        </div>
    </div>
    <button class="btn btn-success mt-3" [disabled]="formOT.invalid">Enviar</button>
</form>
    </div>
</div>





